NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE=
YT_API_KEY=
OPENAI_API_KEY=
APIFY_TOKEN=
DEFAULT_LOCALE=ru
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
JWT_SECRET=change_me
ADMIN_USER=admin
ADMIN_PASS=password
